.about-grid {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 70px;

    align-items: center;

}

.about-image img {

    border-radius: 25px;

}

.about-content h3 {

    font-size: 34px;

    margin-bottom: 20px;

}

.skills {

    margin: 35px 0;

}

.skill {

    margin-bottom: 22px;

}

.skill-title {

    display: flex;

    justify-content: space-between;

    margin-bottom: 10px;

}

.progress {

    height: 10px;

    background: #1e293b;

    border-radius: 20px;

    overflow: hidden;

}

.progress-bar {

    height: 100%;

    background: linear-gradient(90deg,
            var(--primary),
            #00D4FF);

}

.timeline {

    margin-top: 40px;

    display: grid;

    gap: 20px;

}

.timeline-item {

    padding: 20px;

    border-left: 4px solid var(--primary);

    background: #111827;

    border-radius: 10px;

}

.timeline-item h4 {

    color: var(--primary);

    margin-bottom: 8px;

}

@media(max-width:992px) {

    .about-grid {

        grid-template-columns: 1fr;

    }

}

.about-image {

    height: 520px;

}

.about-image img {

    height: 100%;
    object-fit: cover;

}

.about{
    background: var(--bg-secondary);
}